@model ticket.API.Data.Entities.Turn

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Turn</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ServicesType" class="control-label"></label>
                <input asp-for="ServicesType" class="form-control" />
                <span asp-validation-for="ServicesType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShiftNumber" class="control-label"></label>
                <input asp-for="ShiftNumber" class="form-control" />
                <span asp-validation-for="ShiftNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpeditionDate" class="control-label"></label>
                <input asp-for="ExpeditionDate" class="form-control" />
                <span asp-validation-for="ExpeditionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AttentionDate" class="control-label"></label>
                <input asp-for="AttentionDate" class="form-control" />
                <span asp-validation-for="AttentionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stand" class="control-label"></label>
                <input asp-for="Stand" class="form-control" />
                <span asp-validation-for="Stand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
